<div class="row">
  <div class="col-lg-6">
    <div class="container">
      <h2>Timetabler App</h2>
      <p>You don't have to do your school timetabling manually again!:</p>
      <div class="card" style="width:100%">
        <img class="card-img-top" src="{{asset('img/timetable.png')}}" alt="Timetabler" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Timetabling Solution</h4>
          <p class="card-text">This Application will relieve you the burden of timetabling. Create an account and enjoy timetabling!</p>
          <a href="https://timetabler.mylepostsolutions.co.ke" class="btn btn-primary">Start Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">  
    <div class="container">
      <h2>Exam-Pro App</h2>
      <p>Let all the job be done automatically from today:</p>
      <div class="card" style="width:100%">
        <img class="card-img-top" src="{{asset('img/exampage.png')}}" alt="ExamPro" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Recording made easier</h4>
          <p class="card-text">Record your scores and get all the calculations, positioning, averages and report forms done for you!</p>
          <a href="https://exam.mylepostsolutions.co.ke" class="btn btn-primary">Start Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
  
