{% extends "::base.html.twig" %}

{% block title %}Show Charts{% endblock %}
{% block stylesheets %}
{% set contnr_height = ((graph.maximum / graph.xInterval) * 100) + 50 %}
{% set measure_height = ((graph.maximum / graph.xInterval) * 100) %}
{% set contnr_width = (graph.timelines|length * 52) + (graph.grouping * 20) + 150 %}
{% set contnr_bottom_margin = graph.xLabelHeight + 100 %}
{% include 'templates/css.html.twig' %}
{% endblock %}

{% block body %}
    <div class="modal modal-success fade" id="page_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{graph.title}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
            {% include 'templates/charts_menu.html.twig' %}
            <div class="col-md-8">
            <p>Congratulations, your graphs are ready <=, they are simple and smart. They can be downloaded and printed at your convenience.</p>
            <p>Your graphs are ready! Choose the graph you want to see from the left side bar. :) </p>
            <p>You can edit your graph at any time, add and delete entries at any time too.</p>
            <p>Scroll Down to download your graphs when you are ready.</p>
            {% include 'templates/advert.html.twig' %}
          </div>
          </div>
          <div class="modal-footer">
            <p></p>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>    

{% endblock %}
{% block javascripts %}
{% endblock %}	
